<div class=form_container [formGroup]="signUpForm">


  <mat-form-field appearance="fill">
    <mat-label>{{ 'SIGN-UP.USER-NAME' | translate }}</mat-label>
    <input matInput formControlName="userName" required >
    <mat-icon matSuffix>man</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'SIGN-UP.LOGIN' | translate }}</mat-label>
    <input matInput formControlName="login" required >
    <mat-icon matSuffix>man</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'SIGN-UP.PASSWORD' | translate }}</mat-label>
    <input matInput formControlName="password" required >
    <mat-icon matSuffix>vpn_key</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'SIGN-UP.CONFIRM-PASSWORD' | translate }}</mat-label>
    <input matInput formControlName="confirmPassword" required >
    <mat-icon matSuffix>vpn_key</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>


  <button mat-raised-button color="primary" (click)="postForm()"> {{ 'SIGN-UP.SIGN-UP' | translate | titlecase}}</button>
  <p>{{ 'SIGN-UP.TITLE' | translate }}</p>
  <a routerLink="/sign-in" routerLinkActive="active">{{ 'SIGN-UP.SIGN-IN' | translate }}</a>

  <mat-form-field appearance="fill" class="select">
    <mat-label>{{ 'SIGN-UP.OPTION' | translate }}</mat-label>
    <mat-select>
      <mat-option value="option1">{{ 'SIGN-UP.OPTION-USER' | translate }}</mat-option>
      <mat-option value="option2">{{ 'SIGN-UP.OPTION-ADMIN' | translate }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
