<!--<div class="btn-container">-->
<!--  <a routerLink="/sign-in" routerLinkActive="active">-->
<!--    <button mat-raised-button color="primary"> {{'sign in' | titlecase}}-->
<!--    </button>-->
<!--  </a>-->
<!--  <a routerLink="/sign-up" routerLinkActive="active">-->

<!--  </a>-->
<!--</div>-->

<button *ngIf="isLogin" (click)="logout()" mat-raised-button color="primary"> {{'logout' | titlecase}}
</button>
<h4>{{ 'HEADER.TITLE' | translate }}</h4>
<select #langSelect (change)="translate.use(langSelect.value)">
  <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
</select>
<mat-icon class="language-icon">language</mat-icon>
