<!--<div class="btn-container">-->
<!--  <a routerLink="/sign-in" routerLinkActive="active">-->
<!--    <button mat-raised-button color="primary"> {{'sign in' | titlecase}}-->
<!--    </button>-->
<!--  </a>-->
<!--  <a routerLink="/sign-up" routerLinkActive="active">-->
<!--    <button mat-raised-button color="primary"> {{'sign up' | titlecase}}-->
<!--    </button>-->
<!--  </a>-->
<!--</div>-->


<h2>choose your language</h2>
<select #langSelect (change)="translate.use(langSelect.value)">
  <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
</select>
<mat-icon class="language-icon">language</mat-icon>
