
<app-custom-avatar (recordAvatar)="recordAvatar($event)" [userAvatar]="userInfo.controls['photo'].value" ></app-custom-avatar>



<div [formGroup]="userInfo" class="userInfo">
  <div [ngStyle]="{display: 'flex'}" class="status">
    <span>Status: </span> <div class="online" [appOnlineStatus]="online"></div>
  </div>

  <div *ngIf="userInfo" class="fields">
    <label>
      <span class="title">{{ 'USER-INFO.FIRST-NAME' | translate }}</span>
      <span *ngIf="isAdmin; else elseFirstName">{{userInfo.controls.firstName.value}}</span>
      <ng-template #elseFirstName>
        <input type="text" formControlName="firstName">
      </ng-template>
    </label>
    <label>
      <span class="title">{{ 'USER-INFO.LAST-NAME' | translate }}</span>
      <span *ngIf="isAdmin; else elseLastName">{{userInfo.controls.lastName.value}}</span>
      <ng-template #elseLastName>
      <input type="text" formControlName="lastName">
      </ng-template>
    </label>
    <label>
      <span class="title">{{ 'USER-INFO.AGE' | translate }}</span>
      <span *ngIf="isAdmin; else elseAge">{{userInfo.controls.age.value || 'unknown'}}</span>
      <ng-template #elseAge>
      <input type="text" formControlName="age">
      </ng-template>
    </label>
    <h4>{{ 'USER-INFO.UNIVERSITY' | translate }}</h4>
    <ul formArrayName="university">
      <li *ngFor="let user of formArr.controls; index as idx">
        <span>{{user.value}}</span>
        <button mat-raised-button color="warn" (click)="deleteUniversity(idx)" *ngIf="!isAdmin">delete</button>
<!--        <button type="button" (click)="deleteUniversity(idx)" *ngIf="!isAdmin">Delete</button>-->
      </li>
    </ul>
    <div *ngIf="!isAdmin" class="input-container">
      <input  type="text" [formControl]="addControl">
      <button mat-raised-button color="primary" (click)="addUniv()" class="add-btn">add</button>
<!--    <button type="button" (click)="addUniv()">add</button>&ndash;&gt;-->
    </div>
  </div>
<!--  <button (click)="postInfo()" *ngIf="!isAdmin">post info</button>-->
  <button mat-raised-button color="primary" (click)="postInfo()" *ngIf="!isAdmin"  class="post-btn">post</button>

</div>
