
<div class="wrapper">
  <div class=form_container [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'SIGN-IN.LOGIN' | translate }}</mat-label>
      <input matInput formControlName="login" required >
      <mat-icon matSuffix>man</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'SIGN-IN.PASSWORD' | translate }}</mat-label>
      <input matInput formControlName="password" required >
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()"> {{ 'SIGN-IN.SIGN-IN' | translate  | titlecase}}</button>
    <p>
      {{ 'SIGN-IN.TITLE' | translate }}
    </p>
    <a routerLink="/sign-up" routerLinkActive="active">{{ 'SIGN-IN.SIGN-UP' | translate }}</a>
  </div>

</div>

