<div class=form_container [formGroup]="signUpForm">


  <mat-form-field appearance="fill">
    <mat-label>user name</mat-label>
    <input matInput formControlName="userName" required >
    <mat-icon matSuffix>man</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>login</mat-label>
    <input matInput formControlName="login" required >
    <mat-icon matSuffix>man</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input matInput formControlName="password" required >
    <mat-icon matSuffix>vpn_key</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input matInput formControlName="confirmPassword" required >
    <mat-icon matSuffix>vpn_key</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>


  <button mat-raised-button color="primary" (click)="postForm()"> {{'sign up' | titlecase}}</button>
  <p>already have an acc?</p>
  <a routerLink="/sign-in" routerLinkActive="active">sign in</a>

  <mat-form-field appearance="fill" class="select">
    <mat-label>sign up as</mat-label>
    <mat-select>
      <mat-option value="option1">admin</mat-option>
      <mat-option value="option2">user</mat-option>
    </mat-select>
  </mat-form-field>
</div>
