.form_container{
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  padding-top: 20%;
  button{
    margin-bottom: 15px;
  }

}

